

<div class="playcontainer">
    <div class="p-grid">
      <div class="p-col-4">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText class="p-inputtext-lg" > 
          <label for="float-input">ProductCode</label>
      </span>
      </div>
      <div class="p-col-4">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText class="p-inputtext-lg"> 
          <label for="float-input">Brand</label>
      </span>
      </div>
      <div class="p-col-1">
        <button pButton type="button" label="Submit" icon="pi pi-check" class="p-button-lg"></button>
      </div>
    </div>
  </div>