<div class="playcontainer" [formGroup]="myForm">
  <div class="p-grid">
    <div class="p-col-4">
      <span class="p-float-label">
        <input formControlName="product"  type="text" pInputText class="p-inputtext-sm">
        <label for="float-input">Product Code</label>
      </span>
    </div>
    <div class="p-col-4 p-offset-1">
      <span class="p-float-label">
        <input formControlName="brand"  type="text" pInputText class="p-inputtext-sm">
        <label for="float-input">Brand</label>
      </span>
    </div>
    <div class="p-col-2 p-offset-1">
      <button (click)="emitSubmitEvent()" pButton type="button" label="Submit" icon="pi pi-check" class="p-button-sm"></button>
    </div>
  </div>
</div>
